/* @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    background-color: #f5fcfd;
    width: 100%;
    height: 160vh;
   
}

.Logo {
    display: inline-block;
    width: 9vw;
    height: 10vh;
    background-color: #0f7bff;
    border-radius: 0 0 22px 22px;
    position: relative;
    margin-left: 7%;
}

.AppSon {
    width: 131px;
    height: 33px;
    display: block;
    color: #feffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 3.6vh;
    font-weight: 700;
    line-height: 24px;
    padding: 2.4vh 0 0 1.8vw;
}

.img {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.Menu {
    display: inline-block;
    width: 20vw;
    height: 1.2%;
    color: #929292;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    word-spacing: 1vw;
    text-transform: uppercase;
    margin-top: 3.93vh;
    margin-left: 36%;
    position: relative;
    text-decoration: none;
}

#a1 {
    color: #0f7bff;
}

a:visited {
    color: #929292;
    text-decoration: none;
}

.bg {
    width: 8.6vw;
    height: 4.8vh;
    border-radius: 25px;
    background-color: #0063dd;
    margin-top: 2.8vh;
    margin-right: 5vw;
    position: relative;
    border: 0;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8vh;
    font-weight: 500;
    line-height: 4.8vh;
    cursor: pointer;
}


.title {
    width: 30%;
    height: 3.4%;
    color: #333333;
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 16px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 3vh;
    margin-top: 8vh;
    text-align: center;
}

.text {
    width: 36%;
    height: 6.7%;
    color: #929292;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    padding-bottom: 3.5vh;
}

.buttonflex {
    display: flex;
    flex-direction: row;
}

.btn1 {
    width: 8.6vw;
    height: 4.8vh;
    border-radius: 25px;
    background-color: #0f7bff;
    margin-left: 40.6vw;
    position: relative;
    border: 0;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 27px;
    cursor: pointer;
}

.btn2 {
    width: 8.6vw;
    height: 4.8vh;
    border-radius: 25px;
    border: 2px solid #0f7bff;
    position: relative;
    color: #0f7bff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 27px;
    margin-left: 1.56vw;
    cursor: pointer;
}


.scrolldown{width: 60px;
height: 60px;
border-radius: 50%;
     border: 1px solid #dcdcdc;
    background-color: #ffffff;
margin-top: -5vh;
position: relative;
margin-left: 50%;
cursor: pointer;
}

.device{
    position: relative; 
    width: 37.8vw;
    margin-left: auto;
    margin-right: auto;

}

.scroll{
    display: flex;
    flex-direction: row;
    }
   

.analysisblock,
.cleandesignbox,
.messagingbox {
    width: 16vw;
    height: 33vh;
    box-shadow: 0 0 25px #f0f0f0;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 8vh;
    position: relative;
}

.analysis,
.cleandesign,
.messaging {
    height: 1.7vh;
    color: #333333;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    padding-bottom: 18px;
    white-space: nowrap;
    margin: 0 auto;
   
}

.analysisp,
.cleandesignp,
.messagingp {
    height: 6.4vh;
    color: #929292;
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

.svg1,
.svg2,
.svg3 {
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 3%;
}
.analysisblock{margin-left: 25.5vw;}
.cleandesignbox{margin-left: 1.5vw;
margin-top: 12vh;}
.messagingbox{margin-left: 1.5vw;}

.about{
    width: 100vw;
    height: 100vh;
background-color: #ffffff;
   
}
